<header class="header" id="header">
    <div class="header-panel">
        <div class="header-panel-logo">
            <a href="index.html" class="logo">
                <img class="white-logo" src="img/logo.svg" alt="logo Design Criteria" />

                <img class="dark-logo" src="img/logo-dark.svg" alt="logo Design Criteria" />
            </a>
        </div>
        <div class="header-panel-nav">
            <nav>
                <ul>
                    <li>
                        <a href="index.html#about" class="scroll-action" data-router-disabled
                            >About Us</a
                        >
                    </li>
                    <li>
                        <a href="products.html" class="nav-link">Products</a>
                    </li>
                    <li><a href="metal.html" class="nav-link">MM Pro</a></li>
                    <li><a href="blog.html" class="nav-link">Blog</a></li>
                </ul>
            </nav>
            <button type="button" class="header-panel-btn cart-icon">
                <img class="white-logo" src="img/icons/shopping-bag-white.svg" alt="Cart icon" />
                <img class="dark-logo" src="img/icons/shopping-bag.svg" alt="Cart icon" />
            </button>
            <button type="button" class="header-panel-btn search-icon">
                <img class="white-logo" src="img/icons/search.svg" alt="search icon" />
                <img class="dark-logo" src="img/icons/search-dark.svg" alt="search icon" />
            </button>
            <button type="button" class="btn btn-primary" data-modal-open="#contact-modal">
                contact us
            </button>
            <button class="burger header-panel-burger"><span></span></button>
        </div>
    </div>
    <div class="header-panel-overlay"></div>
    <div class="header-search">
        <div class="container">
            <div class="header-search-form">
                <form>
                    <label>
                        <input
                            type="text"
                            placeholder="Search"
                            class="search-field"
                            id="searchItem"
                            autocomplete="off"
                        />
                    </label>
                </form>
            </div>
            <div class="header-search-result">
                <ul class="header-search-list">
                    <li><a href="#">Magnetics Lorem ipsum dolor sit amet consectetur.</a></li>
                    <li><a href="#">IoT Lorem ipsum dolor sit amet consectetur.</a></li>
                    <li><a href="#">Power Supplies Lorem ipsum dolor sit amet consectetur.</a></li>
                </ul>
            </div>
            <div class="search-not-found" style="display: none">
                <h6>No results found for “<span class="search-value"></span>”</h6>
                <p>Check the spelling or use a different word or phrase.</p>
            </div>
        </div>
    </div>
</header>
